<app-navbar></app-navbar>
<div class="tab--year">
  <button class="btn btn--tab" (click)="decrementYear()">-</button>
    {{annee}}
  <button class="btn btn--tab" (click)="incrementYear()">+</button>
</div>
<div class="tab--ajout">
    <button class="btn btn--tab" (click)="handleAjout()">+ Ajouter RTT</button>
</div>
<div class="filters" [formGroup]="formCheckbox">
  <h2>Filtres</h2>
  <label>Jour fériés</label>
  <input type="checkbox" id="feries" name="feries" formControlName="Jour férié" >
  <label>Rtt</label>
  <input type="checkbox" id="feries" name="feries" formControlName="RTT Employeur">
</div>
<app-tableau [service]="service" [buttons]="buttons" [entities]="entities" [enTetes]="enTetes" ></app-tableau>
