<app-navbar></app-navbar>
<div class="tab--year">
  <button class="btn btn--tab" (click)="decrementYear()">-</button>
  <div>{{ service.annee }}</div>
  <button class="btn btn--tab" (click)="incrementYear()">+</button>
</div>
<div class="filters" [formGroup]="formCheckbox">
  <h2>Filtres</h2>
  <div class="checkbox-btn">
    <label>Jour fériés</label>
    <input
      type="checkbox"
      id="feries"
      name="feries"
      (ngModelChange)="handleFilter()"
      formControlName="Jour férié"
    />
  </div>
  <div class="checkbox-btn">
    <label>Rtt</label>
    <input
      type="checkbox"
      id="feries"
      name="feries"
      (ngModelChange)="handleFilter()"
      formControlName="RTT Employeur"
    />
  </div>
</div>
<div *ngIf="isAdmin" class="tab--ajout">
  <button class="btn btn--tab" (click)="handleAjout()">+ Ajouter RTT</button>
</div>
<app-tableau
  [permission]="isAdmin"
  [service]="service"
  [buttons]="buttons"
  [entities]="shownEntities"
  [enTetes]="enTetes"
></app-tableau>
