<app-navbar></app-navbar>
<div class="tab--year">
  <button class="btn btn--tab" (click)="decrementYear()">-</button>
  {{year}}
  <button class="btn btn--tab" (click)="incrementYear()">+</button>
  <p></p>
  <button class="btn btn--tab" (click)="decrementMonth()">-</button>
  {{months[monthPointer]}}
  <button class="btn btn--tab" (click)="incrementMonth()">+</button>
</div>
<div class="tab-absence-manager">
  <div class="tab-row">
    <div class="tab-filler"></div>
    <div [ngClass]="{'tab-absence': true, 'tab-absence-weekend' : header.dayInWeek === 'D' || header.dayInWeek === 'S'}" *ngFor="let header of headers">{{header.dayInMonth}} {{header.dayInWeek}}</div>
  </div>
  <div class="tab-row" *ngFor="let row of tabEmployees">
    <div class="tab-employee">{{row.employee.prenom}}</div>
    <div [ngClass]="{'tab-absence' : true, 'tab-absence-weekend' : getWeekDay(i) === 0 || getWeekDay(i) === 6}" *ngFor="let absences of row.absences; let i = index">
      <div class="tab-absence-letters">
        <div *ngFor="let absence of absences" (click)="openChange(absence)" class="tab-absence-letter">{{absence?.displayedLetter}}</div>
      </div>
    </div>
  </div>
</div>
