.tab-row{
  display: flex;
}

.tab-absence-manager{
  display: flex;
  flex-direction: column;
}

.tab-absence{
  margin : 2px;
  width: 50px;
  height: 75px;
  background-color: #f5f5f5;
}
.tab-filler{
  margin : 2px;
  width: 50px;
  height: 75px;
}
