<div class="digitab--container">
  <table class="digitab--table">
    <thead class="digitab--head">
    <tr>
      <th class="digitab--column-head digitab--cell" rowspan="2">Action</th>
      <th class="digitab--column-head" *ngFor="let enTete of enTetes">{{enTete}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of presentationItems; let index = index">
      <td class="digitab--cell">
        <div class="digitab--action-container">
          <button class="btn" *ngIf='mapButtons(buttons).includes(tabNotification.MODIFICATION) && getButton(tabNotification.DETAIL).permission()' (click)='sendNotification(tabNotification.MODIFICATION, index)'>Modifier</button>
          <button class="btn danger" *ngIf='mapButtons(buttons).includes(tabNotification.SUPPRESSION) && getButton(tabNotification.DETAIL).permission()' (click)='sendNotification(tabNotification.SUPPRESSION, index)'>Supprimer</button>
          <button class="btn danger" *ngIf='mapButtons(buttons).includes(tabNotification.DETAIL) && getButton(tabNotification.DETAIL).permission()' (click)='sendNotification(tabNotification.DETAIL, index)'>Details</button>
        </div>
      </td>
      <td class="digitab--cell" *ngFor="let row of item">{{row}}</td>
    </tr>
    </tbody>
  </table>
  <div class="digitab--action-container">
    <button class="btn valid" *ngIf="mapButtons(buttons).includes(tabNotification.AJOUT) && getButton(tabNotification.AJOUT).permission()" (click)="handleAjout()">+ Ajouter</button>
  </div>
</div>

