<div class="digitab--container">
  <div class="digitab--action-container">
    <button class="btn valid" *ngIf="buttons?.includes(tabNotification.AJOUT) && permission" (click)="handleAjout()">+ Ajouter</button>
  </div>
  <table class="digitab--table">
    <thead class="digitab--head">
      <tr>
        <th *ngIf="permission" class="digitab--column-head digitab--cell" rowspan="2">Action</th>
        <th class="digitab--column-head" *ngFor="let enTete of enTetes">{{enTete}}</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of presentationItems; let index = index">
      <td *ngIf="permission" class="digitab--cell">
        <div  class="digitab--action-container">
          <button class="btn" *ngIf='buttons?.includes(tabNotification.MODIFICATION) && permission' (click)='sendNotification(tabNotification.MODIFICATION, index)'>Modifier</button>
          <button class="btn danger" *ngIf='buttons?.includes(tabNotification.SUPPRESSION) && permission' (click)='sendNotification(tabNotification.SUPPRESSION, index)'>Supprimer</button>
          <button class="btn danger" *ngIf='buttons?.includes(tabNotification.DETAIL) && permission' (click)='sendNotification(tabNotification.DETAIL, index)'>Details</button>
        </div>
      </td>
      <td class="digitab--cell" *ngFor="let row of item">{{row}}</td>
    </tr>
    </tbody>
  </table>
</div>

