/* You can add global styles to this file, and also import other style files */


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gestion-des-absences-front-primary: mat.define-palette(mat.$indigo-palette);
$gestion-des-absences-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gestion-des-absences-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gestion-des-absences-front-theme: mat.define-light-theme((
  color: (
    primary: $gestion-des-absences-front-primary,
    accent: $gestion-des-absences-front-accent,
    warn: $gestion-des-absences-front-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gestion-des-absences-front-theme);

html,
body {
  height: 100%;
}

body * {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Century Gothic", 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  a {
    text-decoration: none;
  }
  background-color: #EEEEEE;
}


// /* CSS */
// button {
//   background-color: #FFFFFF;
//   border: 0;
//   border-radius: .5rem;
//   box-sizing: border-box;
//   color: #111827;
//   font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
//   font-size: .875rem;
//   font-weight: 600;
//   line-height: 1.25rem;
//   padding: .75rem 1rem;
//   text-align: center;
//   text-decoration: none #D1D5DB solid;
//   text-decoration-thickness: auto;
//   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
//   cursor: pointer;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// button:hover {
//   background-color: rgb(249,250,251);
// }

// button:focus {
//   outline: 2px solid transparent;
//   outline-offset: 2px;
// }

// button:focus-visible {
//   box-shadow: none;
// }

// button {
//   font-size: 16px;
//   font-weight: 200;
//   letter-spacing: 1px;
//   padding: 13px 20px 13px;
//   outline: 0;
//   border: 1px solid black;
//   cursor: pointer;
//   position: relative;
//   background-color: rgba(0, 0, 0, 0);
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
//   &:after {
//     content: "";
//     background-color: rgba(102, 177, 241, 0.8);
//     width: 100%;
//     z-index: -1;
//     position: absolute;
//     height: 100%;
//     top: 7px;
//     left: 7px;
//     transition: 0.2s;
//   }
//   &:hover:after {
//     top: 0px;
//     left: 0px;
//   }
// }
